body {
  background-color: #fcf8ec;
  margin: 10px;
}

h1 {
  color: #456268;
}

h3 {
  color: #79a3b1;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: thick;
  width: 30px;
}
